<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            text-align: center;
        }

        h1 {
            font-size: 72px;
            color: #ff3366;
        }

        p {
            font-size: 24px;
            margin-top: 1em;
        }

        a {
            font-size: 18px;
            margin-top: 2em;
            color: #3399ff;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>404 Not Found</h1>
    <p>The requested page could not be found.</p>
    <a href="/">Go back to the index page</a>
</div>
</body>
</html>
